<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

   <ion-row style="margin-top: 10px;">
      <ion-col col-12 size="12" >
          <youtube-player 
            videoId="6k8cpUkKK4c?si=QNZY-x_sWGflUfea" 
            [height]="500" 
            width="100%" >
          </youtube-player>
      </ion-col>

  </ion-row>
</ion-content>
